.projects-card {
    background: rgba(184, 205, 248, 0.7);
    border-radius: 10px;
}

.projects-card-mini {
    min-height: 80px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 1.3em;

}

.projects-card h3,
.projects-card span {
    color: rgb(255, 255, 255);
    font-size: 3.2em;
    font-family: 'Lexend', sans-serif;
}

.projects-card span {
    font-size: 1.2em;
    color: #54428E;
}

@media (max-width: 600px) {

    .projects-card h3,
    .projects-card span {
        font-size: 1.3em;
    }


}