.nav-my-name h3 {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: white;
    background: linear-gradient(to right, rgba(157, 141, 241, 1), transparent);
    padding-right: 600px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}


.navi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    opacity: 0.9;
    backdrop-filter: blur(40px);

}

.navi a {
    text-decoration: none;
}

.nav-sections {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 1em;
    position: relative;
}

.nav-sections a {
    color: black;
    position: relative;
    /* Add relative positioning to the anchor elements */
    transition: color 0.3s;
}

.nav-sections a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #B8CDF8;
    transition: width 0.3s;
}

.nav-sections a:hover::before {
    width: 100%;
}

.nav-sections a:hover {
    color: #B8CDF8;
}

.nav-language a {
    font-size: 2em;

}

@media (max-width: 600px) {

    .nav-my-name h3 {
        font-size: 1em;
        padding-right: 150px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}