.qualities p {
    color: black
}

.qualities img {
    width: 60%;
    height: 60%;
}

.background-blur {
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: fit-content;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: linear-gradient(to left, #B8CDF8 1%, transparent);
}

.qualities-card {
    width: 22% !important;
    padding-bottom: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.qualities-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.qualities-card p {
    font-size: 1.4em;
}

.qualities-title h2,
.qualities-title span {
    font-size: 3.2em;
    font-family: 'Lexend', sans-serif;
}

.qualities-title span {
    font-size: 1.2em;
    color: #9D8DF1;
}

.qualities-title-bottom {
    margin-bottom: 20px;
}

@media (max-width: 1450px) {
    .qualities-card p {
        font-size: 1.2em;
    }

    .qualities-title h2 {
        font-size: 2.2em;
    }
}

@media (max-width:800px) {
    .qualities-card {
        width: 44% !important;

    }
}

@media (max-width: 600px) {

    .qualities-title h2 {
        font-size: 1.4em;
        margin-bottom: 0;
    }

    .background-blur {
        padding-bottom: 0;
        margin-bottom: 0px;
        margin-top: 50px;
        border-radius: 0px;
        background: linear-gradient(to left, #B8CDF8 1%, transparent);

    }

    .qualities-card img {
        width: 45px;
        height: 45px;
        margin-bottom: 10px;
    }

    .qualities-card p {
        font-size: 1em;
    }

    .qualities-card {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        min-width: 20px;
        border-radius: 10px;
        margin-bottom: 40px;
    }

}