.whatsapp-logo {
    position: fixed;
    display: block;
    z-index: 11;
    top: 93vh;
    left: 90vw;
    transform: translate(-50%, -50%);

}

.whatsapp-logo img {
    height: 40px;
    width: auto;
}


@media screen and (max-width: 991px) {



    .whatsapp-logo {
        top: 90vh;
    }

}