.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #54428E;
    background-color: rgba(225, 246, 241, 0.7);
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}




.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
    color: #9D8DF1;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn {
    font-family: 'Lexend', sans-serif !important;
    background: #1CFEBA !important;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #777ca2;
    color: #ced7e8;
    box-shadow: 0 0px 24px 0 #09c68d;
}

.btn:active,
.btn:focus {
    background-color: #757a8b;
    color: #b2b9e0;
    box-shadow: 0 8px 24px 0 rgba(101, 104, 113, 0.2);
}

.btn:hover {
    background-color: #858ebf;
    color: #b2b9e0;
    box-shadow: 0 8px 24px 0 rgba(145, 189, 223, 0.8);
}

.contact-card {
    padding-top: 20px;
    padding-bottom: 40px;
    background: rgba(149, 242, 217, 0.7);
    border-radius: 10px;
}

.contact-card h4 {
    font-family: 'Lexend', sans-serif;
}

.contact-card h3,
.contact-card span {
    font-size: 3.2em;
    font-family: 'Lexend', sans-serif;
}

.contact-card h3 {
    color: rgb(68, 78, 73)
}

.contact-card span {
    font-size: 1.2em;
    color: #06c28a;
}

@media (max-width: 600px) {
    .contact-card {
        padding-top: 50px;

    }

    .contact-card h3,
    .contact-card span {
        font-size: 1.3em;
    }


}