.intro p {
    color: black
}

.intro img {
    width: 60%
}

.intro {
    padding-top: 70px;
    padding-bottom: 20px;
    background: radial-gradient(ellipse closest-side at 60% 50%, rgb(21, 247, 187), #ffffff);
}

.intro h2,
.intro h3,
.intro h4 {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 5em;
}

.intro h3 {

    background: linear-gradient(to right, #9D8DF1, #B8CDF8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.intro h4 {
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 2.5em;
}

@media (max-width: 600px) {

    .intro {
        background: radial-gradient(ellipse closest-side at 67% 40%, rgb(21, 247, 187), #ffffff);
    }

    .intro h2,
    .intro h3 {
        font-size: 1.7em;
        margin-bottom: 0px;
    }

    .intro h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 0.8em;
    }


}