#about-me-section {
    margin-top: 0px;
    padding-top: 90px;
}

#projects-section {
    padding-top: 80px;
}

#contact-me-section {
    padding-top: 60px;
}

@media screen and (max-width: 991px) {
    #about-me-section {
        margin-top: 0px;
        padding-top: 60px;
    }

    #projects-section {
        padding-top: 0px;
    }

    #contact-me-section {
        padding-top: 0px;
    }
}