.rotate-label {
    cursor: pointer;
    display: block;
    position: relative;
    width: 40px;
    transition: transform 0.3s ease;
}

#rotate-checkbox,
#rotate-checkbox2,
#rotate-checkbox3 {
    display: none;
}

.background-card-mini img {
    width: 100%;
    height: 100%;
}

#rotate-checkbox:checked+.rotate-label,
#rotate-checkbox2:checked+.rotate-label,
#rotate-checkbox3:checked+.rotate-label {
    transform: rotate(90deg);
}

.additional-info,
.additional-info2,
.additional-info3 {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 1s;
}

.additional-info p,
.additional-info2 p,
.additional-info3 p {
    font-weight: 300;
    font-size: 0.8em;
}

.background-card {
    background: linear-gradient(to right, rgba(149, 242, 217, 0.7), transparent);
    height: 430px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.background-card-mini {
    min-height: 80px;
    margin: 20px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 1.3em;
}


.background-card-mini h4 {
    margin: 25px;
}

.background-title {
    margin-top: 50px;
}

.background-title h4 {
    font-size: 0.9em;
}

.background-title h3,
.background-title span {
    font-size: 3.2em;
    font-family: 'Lexend', sans-serif;
}

.background-title span {
    font-size: 1.2em;
    color: #1af1b0;
}

@media (max-width: 1450px) {

    .background-title h3 {
        font-size: 2.2em;
    }
}

@media (max-width:1200px) {
    .background-card {
        height: 500px;
    }
}

@media (max-width: 600px) {
    .background-card {
        background: linear-gradient(to right, rgba(149, 242, 217, 0.7), transparent);
        height: 470px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
        border-radius: 0px;
    }

    .background-card-mini {
        min-height: 110px;
        font-family: 'Lexend', sans-serif;
        font-size: 1.1em;

    }

    .background-title h3,
    .background-title span {
        font-size: 1.4em;
    }

    .text-end {
        margin-right: 20px;
    }

    .rotate-label {

        width: 30px;
    }
}